.game {
  text-align: center;
}

.game-table {
  width: 550px;
  background: #f1efef;
  margin: 0 auto;
}

.game-row {
  height: 60px;
}

.game-cell__open {
  background: white;
}

.game-cell__flag {
  background: green;
}

.game-cell__quest {
  background: yellow;
}

.game-cell__mine {
  background: black;
}
